<launch>
  <arg name="use_fake_joint" default="false"/>
  <arg name="use_moveit" default="false"/>
  <arg name="use_rviz" default="false"/>
  <arg name="use_joy" default="false"/>
  
  <!-- Launch fake_joint_driver -->
  <include if="$(arg use_fake_joint)"
	   file="$(find fake_joint_launch)/launch/abb_irb2400.launch">
    <arg name="use_rviz" value="false"/>
    <arg name="use_rqt" value="false"/>
    <arg name="use_robot_state_publisher" value="false"/>
  </include>

  <!-- Launch MoveIt! -->
  <include if="$(arg use_moveit)"
	   file="$(find abb_irb2400_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="sim" value="false"/>
    <arg name="robot_ip" value="127.0.0.1"/>
  </include>
  
  
  <!-- Launch jog controllers -->
  <rosparam command="load"
	    file="$(find jog_launch)/config/abb_irb2400_jog.yaml"/>
  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node">
    <param name="use_action" value="true"/>
    <param name="time_from_start" value="1.0"/>
  </node>
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node">
    <param name="use_action" value="true"/>
    <param name="time_from_start" value="1.0"/>
  </node>

  <!-- Launch joypad -->
  <include if="$(arg use_joy)" file="$(find jog_controller)/launch/joypad.launch">
    <arg name="group_name" value="manipulator"/>
    <arg name="frame_id" value="base_link"/>
    <arg name="link_name" value="tool0"/>
  </include>

</launch>
