<launch>
  <!-- Launch MoveIt! -->
  <include file="$(find motoman_sia5d_moveit_config)/launch/moveit_planning_execution.launch"/>
  
  <!-- fake_joint_driver_node -->
  <node name="fake_joint_driver" pkg="fake_joint_driver" type="fake_joint_driver_node"/>

  <!-- Load joint trajecotory controller -->
  <rosparam file="$(find jog_launch)/config/motoman_sia5d_controllers.yaml" />

  <node name="controller_spawner"
	pkg="controller_manager" type="spawner" respawn="false"
	args="joint_state_controller joint_trajectory_controller"/> 

  <rosparam command="load"
	    file="$(find jog_launch)/config/motoman_sia5d_jog.yaml"/>
  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node"/>
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node"/>

</launch>
