<launch>
  <arg name="use_joy" default="false"/>

  <!-- Launch jog controllers -->
  <rosparam command="load"
	    file="$(find jog_launch)/config/motoman_sda10f_jog.yaml"/>
  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node">
    <remap from="command" to="joint_path_command"/>
  </node>
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node">
    <remap from="command" to="joint_path_command"/>
  </node>
  <!-- Launch joypad -->
  <include if="$(arg use_joy)" file="$(find jog_controller)/launch/joypad.launch">
    <arg name="group_name" value="manipulator"/>
    <arg name="frame_id" value="base_link"/>
    <arg name="link_name" value="tool0"/>
  </include>

</launch>
