<launch>
  <arg name="use_fake_joint" default="false"/>
  <arg name="use_moveit" default="false"/>
  <arg name="use_rviz" default="false"/>
  <arg name="use_joy" default="false"/>
  <arg name="use_action" default="false"/>
  <arg name="intermittent" default="false"/>
  
  <!-- Launch fake_joint_launch -->
  <include if="$(arg use_fake_joint)"
	   file="$(find fake_joint_launch)/launch/nextage.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
  </include>

  <!-- Launch MoveIt! -->
  <arg name="kinematics_conf"
       default="$(find nextage_moveit_config)/config/kinematics_kdl.yaml" />
  <include file="$(find nextage_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>
  <include file="$(find nextage_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="kinematics_conf_file" value="$(arg kinematics_conf)"/>
  </include>
  
  <!-- Launch jog_controllers -->
  <rosparam command="load" file="$(find jog_launch)/config/nextage_jog.yaml"/>
  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node">
    <param name="use_action" value="$(arg use_action)"/>
    <param name="intermittent" value="$(arg intermittent)"/>
  </node>
    
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node">
    <param name="use_action" value="$(arg use_action)"/>
    <param name="intermittent" value="$(arg intermittent)"/>
  </node>

  <!-- Launch joypad -->
  <include if="$(arg use_joy)" file="$(find jog_controller)/launch/joypad.launch">
    <arg name="group_name" value="left_arm"/>
    <arg name="frame_id" value="WAIST"/>
    <arg name="link_name" value="LARM_JOINT5_Link"/>
  </include>
  
</launch>
