<launch>
  <include file="$(find nextage_moveit_config)/launch/moveit_planning_execution.launch"/>

  <rosparam command="load" file="$(find jog_controller)/config/nextage_jog.yaml"/>
  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node"/>
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node"/>

</launch>
