<launch>
  <!-- Launch loopback controller -->
  <include file="$(find tra1_bringup)/launch/tra1_bringup.launch">
    <arg name="simulation" value="true"/>
  </include>
  
  <!-- Launch MoveIt! -->
  <include file="$(find tra1_bringup)/launch/tra1_moveit.launch"/>

  <!-- Jog controllers -->
  <rosparam command="load"
	    file="$(find jog_controller)/config/tra1_jog.yaml"/>
  <node name="jog_joint_node" pkg="jog_controller" type="jog_joint_node"/>
  <node name="jog_frame_node" pkg="jog_controller" type="jog_frame_node"/>

</launch>
