<launch>
  <node launch-prefix="xterm -e gdb --args"
	name="jog_joint_node" pkg="jog_controller" type="jog_joint_node">
    <param name="controller_name" value="position_trajectory_controller"/>
  </node>
  <node name="joy" pkg="joy" type="joy_node">
    <param name="autorepeat_rate" value="100"/>
    <param name="deadzone" value="0.1"/>
  </node>
  <node name="joy_to_jog_joint" pkg="jog_controller" type="joy_to_jog_joint.py"/>
</launch>
